@import "tailwindcss";

body,html{
  font-family: monospace;
}


@theme inline {
  --color-primary:var(--color-neutral-800);
  --color-secondary:var(--color-neutral-600);
}

.dark{
  --color-primary:var(--color-neutral-100);
  --color-secondary:var(--color-neutral-300);
}