@import "tailwindcss";

body,html{
  font-family: monospace;
  
}




@theme inline {

  --shadow-acer:0px 2px 3px -1px rgba(0,0,0,0.1),0px 1px 0px 0px rgba(25,28,33,0.02),0px 0px 0px 1px rgba(25,28,33,0.08);
  --color-primary:var(--color-neutral-800);
  --color-secondary:var(--color-neutral-600);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card)

}


:root{
  --background:white;
  --foreground:black;
  --card: white;
  
 
}
.dark{
  --background:oklch(27.8% 0.033 256.848);
  --foreground:white;
  --card:oklch(86.9% 0.005 56.366);
}